@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-gap: 2em;
  margin: 2em auto;
}
.box{
  width: 90vw;
}
/**/

.buttons{
  grid-auto-flow: row;
}
.nav{
  width: 300px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
/**
**/
h1{
  font-family: 'MuseoModerno', cursive;
  margin: auto;
}
h2{
  margin:auto;
}
p.question{
  font-size: xx-large;
  width: 350px;
  margin: auto;
  border: 1px solid black;
  padding: 1em;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

p.operate,
p.Roles,
p.Motivation,
p.Funding,
p.Finances,
p.Culture,
p.relationship{
  color: white;
  width: 300px;
  margin: auto;
  font-size: xx-large;
}

div.operate,
div.Roles,
div.Funding,
div.Finances,
div.Culture,
div.Motivation,
div.relationship{
  margin: 1em auto;
  width: 300px;
  min-height: 25vh;
  padding: 1em;
  display: flex;
}

h2.operate{
  font-family: 'MuseoModerno', cursive;
  color: #5f27cd;
}
h2.Roles{
  font-family: 'MuseoModerno', cursive;
  color: #ff9f43;
}
h2.Funding{
  font-family: 'MuseoModerno', cursive;
  color: #ee5253;
}
h2.Finances{
  font-family: 'MuseoModerno', cursive;
  color: #0abde3;
}
h2.Culture, h2.Motivation{
  font-family: 'MuseoModerno', cursive;
  color: #10ac84;
}
h2.relationship{
  font-family: 'MuseoModerno', cursive;
  color: #e84393;
}
/* buttons */
button{
  height: 50px;
  background-color: white;
  margin: 0.2em;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.selected.operate, div.operate{
  color: white;
  background-color: #5f27cd;
  background-image: linear-gradient(19deg, #4600ca 0%, #6d32e0 100%);
  box-shadow: 0px 10px 30px -10px #5f27cd;
}
.selected.Roles, div.Roles{
  color: white;
  background-color: #ff9f43;
  background-image: linear-gradient(0deg, #ff9f43 10%, #f77a00 100%);
  
}
.selected.Funding, div.Funding{
  color: white;
  background-color: #ed2a2b;
background-image: linear-gradient(180deg, #ed2a2b 25%, #ee5253 100%);
box-shadow: 0px 10px 30px -10px #ed2a2b;

}
.selected.Finances, div.Finances{
  color: white;
  box-shadow: 0px 10px 30px -10px #0abde3;
  background-color: #0abde3;
background-image: linear-gradient(180deg, #0abde3 25%, #00abd0 100%);
}
.selected.Culture, div.Culture, .selected.Motivation, div.Motivation{
  color: white;
  box-shadow: 0px 10px 30px -10px #10ac84;
  background-color: #10ac84;
  background-image: linear-gradient(180deg, #10ac84 25%, #009670 100%);  
}
.selected.relationship, div.relationship{
  color: white;
  box-shadow: 0px 10px 30px -10px #e84393;
  background-color: #e84393;
  background-image: linear-gradient(180deg, #e84393 25%, #e00069 100%);  
}

/*BUTTONS*/
button.Culture, button.Motivation{
  color: #10ac84;
  border: 1px solid #10ac84;
}
button.relationship{
  color: #e84393;
  border: 1px solid #e84393;
}
button.Finances{
  color: #0abde3;
  border: 1px solid #0abde3;
}
button.Funding{
  color: #ee5253;
  border: 1px solid #ee5253;
}
button.Roles{
  color: #ff9f43;
  border: 1px solid #ff9f43;
}
button.operate{
  color: #5f27cd;
  border: 1px solid #5f27cd;
}
button.pos.operate,
button.pos.Roles,
button.pos.Motivation,
button.pos.Funding,
button.pos.Finances,
button.pos.Culture,
button.pos.relationship{
  font-size: xx-large;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: none;
}